@keyframes onTypeCell {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.1)
  }

  to {
    transform: scale(1)
  }
}

@keyframes revealCell {
  0% {
    transform: rotateX(0deg)
  }

  50% {
    background-color: unset;
    border-color: unset;
  }

  50.1% {
    background-color: var(--target-color);
    border-color: var(--target-color);
  }

  to {
    transform: rotateX(180deg);
    background-color: var(--target-color);
    border-color: var(--target-color);
  }
}

.cellFillAnimation {
  animation: onTypeCell linear;
}

.cellRevealAnimation {
  animation: revealCell linear;
}

.letterContainerBox {
  font-weight: 700;
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid rgb(226 232 240);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.revealed {
  background-color: var(--target-color);
  border-color: var(--target-color);
}
