.title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 28px;
}

.right {
  display: flex;
}
