@keyframes onTypeCell {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.1)
  }

  to {
    transform: scale(1)
  }
}

.cellFillAnimation {
  animation: onTypeCell linear
}

.cellFillAnimation,.cell-reveal {
  animation-duration: .35s
}

.cell-reveal {
  animation-fill-mode: backwards;
  animation-timing-function: linear
}

.letterContainerBox {
  font-weight: 700;
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid rgb(226 232 240);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
